.text-primary{
    color: red !important;
    margin: 20px 0;
    text-align: center;

}

.container{
    background-color: rebeccapurple;
    height: 400px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    align-content: space-around;
}

.container-item{
    background-color: palegreen;
    width: 100px;
    margin: 10px;
    line-height: 20px;
    padding: 15px;
    text-align: center;
    color: red;
}


/* justify-content:flex-start , center , flex-end  */

